<h1>Similar Movies</h1>
<div><p>The following movies have the same director as <%= @movie.title %>, <%= @movie.director %>:</p></div>

<table id="movies">
    <thead>
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Release Date</th>
            <th>More Info</th>
        </tr>
    </thead>

</table>